name: Build and test charms

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DEBIAN_FRONTEND: noninteractive
  ROCKCRAFT_ENABLE_EXPERIMENTAL_EXTENSIONS: "True"

jobs:
  define-charm-list:
    name: Define charm list to build
    runs-on: ubuntu-24.04
    outputs:
      charms: ${{ steps.charms.outputs.charms }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Generate list
        id: charms
        run: |
          list="$(find . -mindepth 1 -maxdepth 1 -type d -printf '"%P", ')"
          echo "charms=[$list]"
          echo "charms=[$list]" >> $GITHUB_OUTPUT
        working-directory: charms

  lint:
    name: Lint - (${{ matrix.charm }})
    runs-on: ubuntu-24.04
    needs:
      - define-charm-list
    strategy:
      fail-fast: false
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: sudo snap install astral-uv --classic
      - name: Run linters
        run: make lint
        working-directory: charms/${{ matrix.charm }}

  lib-check:
    name: Check libraries - (${{ matrix.charm }})
    runs-on: ubuntu-24.04
    needs:
      - define-charm-list
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          # fetch-depth: 0 # TODO optimize that for speed
          persist-credentials: false
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          charm-path: charms/${{ matrix.charm }}

  pack-charm:
    name: Build charm - (${{ matrix.charm }})
    runs-on: ubuntu-24.04
    needs:
      - define-charm-list
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23.0

      - name: Build temporal worker
        env:
          CGO_ENABLED: 0
        run: |
          version="$(git describe --tags --always --dirty)"
          echo "version: $version"
          go build -ldflags="-X main.Version=$version" -o ubuntu-release-worker ../../ubuntu-release-worker/main.go
        working-directory: charms/${{ matrix.charm }}

      - name: Cache wheels
        id: cache-wheels
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/snap/charmcraft/common/cache/charmcraft
          key: ${{ runner.os }}-wheel-cache-${{ hashFiles('./uv.lock') }}
          # If the above cache key doesn't match, it's because the uv.lock has changed.
          # Even so, pre-existing caches may still contain useful cached builds for some
          # portion of the dependencies, and restore-keys can partially match a cache.
          restore-keys: |
            ${{ runner.os }}-wheel-cache-

      - name: Pack charm
        run: |
          sudo snap install --classic charmcraft
          charmcraft pack -v
        working-directory: charms/${{ matrix.charm }}

      - name: Upload charm artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.charm }}
          path: charms/${{ matrix.charm }}/*.charm

  define-functional-matrix:
    name: Define spread functional test matrix
    runs-on: ubuntu-24.04
    needs:
      - define-charm-list
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft test --list lxd:ubuntu-24.04:tests/spread/functional/ | sed "s|lxd:ubuntu-24.04:tests/spread/functional/||g" | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT
        working-directory: charms/${{ matrix.charm }}

  functional-test:
    name: Functional Tests - (${{ matrix.suite }})
    runs-on: [self-hosted, large, noble, amd64]
    needs:
      - define-charm-list
      - lint
      - pack-charm
      - define-functional-matrix
      # - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-functional-matrix.outputs.suites) }}
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download charm artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ matrix.charm }}

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run functional tests
        run: |
          charmcraft test -v "github-ci:ubuntu-24.04:tests/spread/functional/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}

  define-integration-matrix:
    name: Define spread integration test matrix
    runs-on: ubuntu-24.04
    needs:
      - define-charm-list
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft test --list lxd:ubuntu-24.04:tests/spread/integration/ | sed "s|lxd:ubuntu-24.04:tests/spread/integration/||g" | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT
        working-directory: charms/${{ matrix.charm }}

  integration-test:
    name: Integration Tests - (${{ matrix.suite }})
    runs-on: [self-hosted, large, noble, amd64]
    needs:
      - define-charm-list
      - lint
      - pack-charm
      - define-integration-matrix
      # - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-integration-matrix.outputs.suites) }}
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download charm artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ matrix.charm }}

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run integration tests
        run: |
          charmcraft test -v "github-ci:ubuntu-24.04:tests/spread/integration/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}

  upload-charm:
    name: Define spread integration test matrix
    runs-on: ubuntu-24.04
    needs:
      - integration-test
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-charm-list.outputs.charms) }}
    steps:
      - name: Download charm artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: ${{ matrix.charm }}

      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          built-charm-path: ubuntu-release-${{ matrix.charm }}_ubuntu@24.04-amd64.charm
        if: github.ref == 'refs/heads/main'
