name: Build and test charms

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  lint:
    name: Lint - (worker)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: sudo snap install astral-uv --classic
      - name: Run linters
        run: make -C charm lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
      - name: Run tests
        run: make -C charm unit

  pack-charm:
    name: Build charm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Cache wheels
        id: cache-wheels
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/snap/charmcraft/common/cache/charmcraft
          key: ${{ runner.os }}-wheel-cache-${{ hashFiles('./uv.lock') }}
          # If the above cache key doesn't match, it's because the uv.lock has changed.
          # Even so, pre-existing caches may still contain useful cached builds for some
          # portion of the dependencies, and restore-keys can partially match a cache.
          restore-keys: |
            ${{ runner.os }}-wheel-cache-

      - name: Pack charm
        run: |
          sudo snap install --classic charmcraft
          charmcraft pack -v

      - name: Upload charm artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: worker
          path: charm/*.charm

  define-functional-matrix:
    name: Define spread functional test matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft test --list charm/tests/spread/functional/ | rev | cut -d "/" -f1 | rev | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT
        working-directory: charm

  functional-test:
    name: Functional Tests (${{ matrix.suite }})
    runs-on: ubuntu-latest
    needs:
      - lint
      - pack-charm
      - define-functional-matrix
      - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-functional-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run functional tests
        run: |
          charmcraft test -v "lxd:ubuntu-24.04:charm/tests/spread/functional/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}

  define-integration-matrix:
    name: Define spread integration test matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft test --list charm/tests/spread/integration/ | rev | cut -d "/" -f1 | rev | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT
        working-directory: charm

  integration-test:
    name: Integration Tests - (${{ matrix.suite }})
    runs-on: [self-hosted, large, noble, amd64]
    needs:
      - lint
      - pack-charm
      - define-integration-matrix
      - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-integration-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download charm artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: worker

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run integration tests
        run: |
          charmcraft test -v "lxd:ubuntu-24.04:charm/tests/spread/integration/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}

  upload-charm:
    name: Upload charm to Charmhub
    runs-on: ubuntu-24.04
    needs:
      - integration-test
    steps:
      - name: Download charm artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: worker

      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          built-charm-path: ubuntu-release-worker_ubuntu@24.04-amd64.charm
        if: github.ref == 'refs/heads/main'
