name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  # This runs golangci-lint against the codebase
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Determine which tests to run
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            go:
              - '**.go'
              - 'go.mod'
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.5
          args: --print-issued-lines=true

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: true
      - run: gofmt -w -l -s .
      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after go fmt. Run 'gofmt -w -l -s .' command and commit."; exit 1)

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          cache: true
      - run: go test -v -race ./...

  woke:
    name: woke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: woke
        uses: get-woke/woke-action@b2ec032c4a2c912142b38a6a453ad62017813ed0 # v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true

  define-integration-matrix:
    name: Define spread integration test matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Generate matrix list
        id: suites
        run: |
          # Charmcraft is the easiest way to get spread and consistent with the rest of the project CI with charms
          sudo snap install charmcraft --classic
          list="$(charmcraft test --list tests/ | rev | cut -d "/" -f1 | rev | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT

  integration-test:
    name: Integration Tests (${{ matrix.suite }})
    runs-on: ubuntu-latest
    needs:
      - lint
      - format
      - woke
      - define-integration-matrix
      - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-integration-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Run integration tests
        run: |
          sudo snap install charmcraft --classic
          charmcraft test -v "lxd:ubuntu-24.04:tests/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}
